* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(assets/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

footer {
  margin-top: auto;
}

ul {
  list-style: none;
}

/* Util */

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
